html,
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        45deg,
        #3527c2,
        #6dbbe8,
        #ffc6c4,
        #6de8dd,
        #5dbcd2
    );
    background-size: 182% 200%;
    color: #000000;
    -webkit-animation: Gradient 7s ease infinite;
    -moz-animation: Gradient 7s ease infinite;
    animation: Gradient 7s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

input[type='range'] {
    width: 350px;
    margin: 20px 0;
    -webkit-appearance: none;
    overflow: hidden;
    height: 15px;
    background: transparent;
    cursor: pointer;
    background: #e5e4e3;
    border-radius: 0;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw dodgerblue;
    border: 0.1px solid dodgerblue;
    cursor: pointer;
}

input[name='number-input'] {
    width: 60px;
}

form {
    margin: 20px 0;
    width: 350px;
    text-align: center;
}

#step-list-wrapper {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-bottom: 15px;
}

#step-list-wrapper > div {
    flex: 1;
    text-align: center;
}

#step-list-wrapper > div:first-child {
    text-align: left;
}

#step-list-wrapper > div:last-child {
    text-align: right;
}
